.App {

  display: flex;
  min-height: 100vh;
  
}

.mainContainer
{
  flex: 10;
  background-color: rgba(231, 180, 41, 0.424);

}

.sidebar
{  
  text-align: center;
  background-color: rgb(21, 218, 240);
  flex: 1;
}


.pieChart
{
  padding: 20px;
  background-color: pink;
  width: 300px;
  height: 100px;
}

.barChart
{
  padding: 20px;
  background-color: rgb(205, 192, 255);
  width: 300px;
  height: 100px;



}


.widgets
{
  padding: 20px;
  background-color: rgb(84, 205, 116);
  width: 300px;
  height: 400px;
}

