.App {

  display: flex;
  min-height: 100vh;
  
}


.sidebar
{  
  text-align: center;
  background-color: rgb(21, 218, 240);
  flex: 1;
  display: absolute;
}

.mainContainer
{
  flex: 10;
  background-color: rgba(231, 180, 41, 0.424);
  display:relative;

}

.ag-theme-balham
{
  display: relative;
  position: absolute;
  top:52%;
  left:10%;
  height: 44%;
  width: 44%;
}
.pieChart
{
  padding: 20px;
  background-color: pink;
  height: 40%;
  width: 42%;
  top: 5%;
  left: 10%;
  position: absolute;
}

.barChart
{
  padding: 20px;
  background-color: rgb(205, 192, 255);
  height: 40%;
  width: 42%;
  top: 5%;
  left: 55%;
  position: absolute;
}


.widgets
{
  padding: 20px;
  background-color: rgb(84, 205, 116);
  height: 40%;
  width: 42%;
  top: 52%;
  left: 55%;
  position: absolute;
  display: flex;
  text-align: center;
}

.widget-1
{
  margin: 5px;
  flex:1;
  background-color: aquamarine;
}

.widget-2
{
  margin: 5px;
  background-color: aquamarine;
  flex:1;

}

.widget-3
{
  margin: 5px;
  background-color: aquamarine;
  flex:1;
}
