
.App {

  display: flex;
  min-height: 100vh;
  
}


.mainContainer
{
  flex: 10;
  background-color:#ebeff2;
  position:relative;

}


.sidebar
{  

  background-color:#99C2EC;
  flex: 1;
  position: relative;
}

.sidebar .logo
{
  margin-top: 10%;
    background-image: url("../public/tims-v2.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 20vh;
    width: 100%;
}

.sidebar-list

{
  font-size: large;
  text-align: center;
}

button {

  color: #0060B6;


    /* border: 1px solid; */
    height: 45px;
    width: 125px;
    font-size: 25px;
    margin:10px;
  
}

button:hover {
  color:#d2e1e4; 
  text-decoration:none; 
  cursor:pointer;  
  background-color: #0060B6;
}

.copyright
{
  text-align: center;
  position: absolute;
  width: 100%;
  bottom:0px;
  background-color: rgba(164, 162, 170, 0.343);
  font-style: italic;
  font-size: small;
  font-weight: 400;

}




.ag-theme-balham
{
  position: absolute;
  top:52%;
  left:1%;
  height: 44%;
  width: 47.5%;
  box-shadow: 2px 4px 10px 1px rgba(97, 40, 40, 0.5);

}



.pieChart
{
  padding: 20px;
  background-color: #f5f8fa;
  height: 40%;
  width: 45%;
  top: 5%;
  left: 1%;
  position: relative;
  display: flex;
  border-radius: 15px;
  box-shadow: 2px 4px 10px 1px rgb(97 40 40 / 50%);
  justify-content: center;
  align-content: center;
  align-items: center;
}


.donutContainer
{
  position: absolute;
  height: 95%;
  width: 100%;
  top:0%;
  left: 0%;
}

.donutTitle
{
  font-size: 120px;
  font-weight: 200;
  color: rgb(46, 204, 113);
  text-shadow: -1px 0 rgb(0 0 0 / 33%), 0 1px black, 1px 0 black, 0 -1px black;
  



}

.barChart
{
  padding: 20px;
  background-color: #f5f8fa;
  height: 40%;
  width: 46%;
  top: 5%;
  left: 50%;
  position: absolute;
  border-radius: 15px;  
  box-shadow: 2px 4px 10px 1px rgba(97, 40, 40, 0.5);
}


.widgets
{
  padding: 20px;
  background-color:#f5f8fa;
  height: 40%;
  width: 46%;
  top: 52%;
  left: 50%;
  position: absolute;
  display: flex;
  text-align: center;
  border-radius: 15px;  
  box-shadow: 2px 4px 10px 1px rgba(97, 40, 40, 0.5);
}

.inside-widget
{
  margin: 5px;
  flex:1;
  background-color:#99c2ec7e;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.50);
  box-shadow: 2px 4px 10px 1px rgba(97, 40, 40, 0.5);
  border-radius: 12px;
}

